<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDK0XrMNVOx56xxl5wNyhh1tCWayxqeHOI</string>
	<key>GCM_SENDER_ID</key>
	<string>651983117275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perulheim.pchat</string>
	<key>PROJECT_ID</key>
	<string>pchat-782e0</string>
	<key>STORAGE_BUCKET</key>
	<string>pchat-782e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651983117275:ios:e0828bb6dc217128c265fe</string>
</dict>
</plist>